.card{
    height: 530px;
}
.header{
    font-size: 1%;
}

textarea.materialize-textarea {
    background-color: #f44336;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
}